@font-face {
    font-family: "Switzer";
    src: url(Fonts/Switzer-Variable.ttf);
}
body {
    margin: 0;
    font-family: "Switzer";
    background: rgb(255, 254, 254);
    -webkit-tap-highlight-color: transparent;
    color: #717171;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.text-container {
    position: relative;
    padding: 40px;
    line-height: 1.6;
    z-index: 2;
    max-width: 800px;
    margin: 0;  /* Keeping original alignment for desktop */
    word-spacing: 5px;
    font-size: 16px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 50px; /* White space between images */
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    transition: transform 0.3s ease;
}

.horizontal-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 50px;
}

.video-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.video-container video {
    max-width: 100%;
    width: 45%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

/* Responsive Design */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on mobile */
        gap: 10px; /* Less white space */
    }
}

